{% if company %}
	<header class="relative flex justify-between items-center p-5 md:justify-between">
		<div>
			<a class="" href="/dashboard">
				<img class="w-20 object-contain m-auto" src="/static/images/logo.png" alt="logo">
			</a>
		</div>
		<h1 class="text-center text-xl">{{ company.name }}</h1>
		<button id="burger" class="md:hidden focus:outline-none">
			<img class="w-10 object-contain m-auto" src="/static/images/menu.jpg" alt="menu">
		</button>
		<nav id="nav" class="hidden md:flex">
			<ul class="flex justify-center items-center gap-5">
				<li>
					<a class="text-sm hover:text-blue-600" href="/dashboard">Tableau de bord</a>
				</li>
				<li>
					<a class="text-sm hover:text-blue-600" href="/tours">Tournées</a>
				</li>
				<li>
					<a class="text-sm font-bold text-red-500" href="/logout">Déconnexion</a>
				</li>
			</ul>
		</nav>
	</header>
{% else %}
	<div>
		<div>
			<a class="" href="/">
				<img class="w-50 object-contain m-auto" src="/static/images/logo.png" alt="logo">
			</a>
		</div>
		<h1 class="text-center text-3xl">Bienvenue !</h1>
	</div>
{% endif %}
