<header>
	<div>
		<a href={% if company %} "/dashboard" {% else %} "/" {% endif %}>
			<img src="" alt="logo">
		</a>
	</div>
	{% if company %}
		<h1>{{ company.name }}</h1>
	{% else %}
		<h1 class="">Bienvenue !</h1>
	{% endif %}
	<nav>
		<ul>
			{% if company %}
			<li>
					<a href="/dashboard">Tableau de bord</a>
				</li>
				<li>
					<a href="/tours">Tournées</a>
				</li>
				<li>
					<a href="/logout">Déconnexion</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
