<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./styles/build.css">
		{% block style %}{% endblock %}
		<title>{{title}}</title>
	</head>
	<body>
		{% include "../partials/companyHeader.twig" %}
		{% block main %}{% endblock %}
		{% include "../partials/companyFooter.twig" %}
        {% block script %}{% endblock %}
	</body>
</html>
