{% extends "../layouts/company.twig" %}

{% block main %}
	<main class="p-10">
		<section class="flex flex-col gap-5">
			<div class="flex justify-center items-center">
				<h2 class="text-xl text-center">Liste des tournées</h2>
				<button class="text-lg font-bold m-5 p-2 border rounded-lg w-10 bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" id="createTour">+</button>
			</div>

			{% for tour in tours %}
				<article class="border rounded-lg pl-5 pr-5 pb-5 bg-blue-200">
					<h3 class="text-lg text-center">{{ tour.name }}</h3>
					<div class="grid grid-cols-2 gap-2">
						{% for patient in tour.patients %}
							<form class="flex flex-col" action="/patients/{{ patient.id }}" method="get">
								<button class="bg-white border border-blue-600 rounded-md h-15">{{ patient.lastName }}
									{{ patient.firstName }}</button>
							</form>
						{% endfor %}
					</div>
				</article>
			{% endfor %}

			<dialog id="tourModal">
				<button class="closeModal">X</button>
				<form action="/tours/add" method="post">
					<label for="name">Nom de la tournée</label>
					<input type="text" id="name" name="name">
					<button>Créer la tournée</button>
				</form>
			</dialog>
		</section>
	</main>
{% endblock %}

{% block script %}
	<script src="/static/scripts/allTours.js"></script>
{% endblock %}
