{% extends "../layouts/company.twig" %}

{% block main %}
	<main class="p-10">
		<h2 class="text-center pb-5">Connectez-vous pour accéder à votre dashboard !</h2>
		<form class="flex flex-col" action="/login" method="post">
			<div class="flex flex-col">
				<label class="m-auto" for="siret">Numéro SIRET :
				</label>
				<input value="aze" class="text-sm m-auto border border-blue-600 rounded-lg w-50 pl-1 shadow-sm shadow-blue-300" type="text" id="siret" name="siret" placeholder="SIRET">
			</div>
			<div class="flex flex-col">
				<label class="m-auto" for="password">Mot de passe :
				</label>
				<input value="aze" class="text-sm m-auto border border-blue-600 rounded-lg w-50 pl-1 shadow-sm shadow-blue-300" type="password" id="password" name="password" placeholder="Mot de passe">
			</div>
			<button class="m-auto mt-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">Se connecter</button>
		</form>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}

		<p class="pt-5 text-center">Pas encore inscrit ? Cliquez
			<a class="font-bold text-blue-500 underline" href="/signin">ici</a>
			pour inscrire votre établissement.</p>
	</main>
{% endblock %}
