{% extends "../layouts/company.twig" %}

{% block main %}
	<h1>Connectez-vous pour accéder à votre dashboard !</h1>
	<form action="/login" method="post">
        <label for="siret">Numéro SIRET : </label>
		<input type="text" id="siret" name="siret" placeholder="SIRET">
        <label for="password">Mot de passe : </label>
		<input type="password" id="password" name="password" placeholder="Mot de passe">
        <button>Se connecter</button>
	</form>
    <p>Pas encore inscrit ? Cliquez <a href="/signin">ici</a> pour inscrire votre établissement.</p>
{% endblock %}