{% extends "../layouts/company.twig" %}

{% block main %}
	{# <section>
									    <h2>Patients</h2>
									</section> #}
	<section>
		<h2>Mes employés</h2>
		<button id="addEmployee">+</button>
		<div class="modal">
			<form action="/employee/add" method="post">
				<label for="lastName">Nom de famille de l'employé</label>
				<input type="text" id="lastName" name="lastName" placeholder="Nom de famille">
				<label for="firstName">Prénom de l'employé</label>
				<input type="text" id="firstName" name="firstName" placeholder="Prénom">
				<label for="mail">Adresse mail de l'employé</label>
				<input type="mail" id="mail" name="mail" placeholder="Adresse mail">
				<label for="password">Mot de passe initial</label>
				{# <p>Le mot de passe sera changé par l'employé à sa première connexion.</p> #}
				<input type="password" id="password" name="password" placeholder="Mot de passe">
				<label for="birthday">Date de naissance de l'employé (facultatif)</label>
				<input type="date" id="birthday" name="birthday">
				<label for="genre">Genre de l'employé (facultatif)</label>
				<select id="genre" name="genre">
					<option value="">--Votre genre (facultatif)--</option>
					<option value="male">Homme</option>
					<option value="female">Femme</option>
					<option value="other">Autre</option>
				</select>
				<button type="reset">Effacer les champs</button>
				<button>Ajouter l'employé</button>
			</form>
		</div>
	</section>
	<section>
		<h2>Mes véhicules</h2>
		<button id="addCar">+</button>
		<div class="modal">
			<form action="/car/add" method="post">
				<label for="plate">Immatriculation du véhicule</label>
				<input type="text" id="plate" name="plate" placeholder="Immatriculation : AA-123-ZZ">
                <button>Ajouter le véhicule</button>
			</form>
		</div>
	</section>
{% endblock %}
