{% extends "../layouts/company.twig" %}

{% block main %}
	<main class="p-10">
		<h2 class="text-center pb-5">Inscrivez votre établissement !</h2>
		<form class="flex flex-col" action="/signin" method="post">
			<div class="flex flex-col">
				<label class="m-auto" for="name">Nom de votre établissement :
				</label>
				<input class="text-sm m-auto border border-blue-600 rounded-lg w-full pl-1 shadow-sm shadow-blue-300" type="text" id="name" name="name" placeholder="Nom de l'établissement">
			</div>
			<div class="flex flex-col">
				<label class="m-auto" for="siret">Numéro SIRET :
				</label>
				<input class="text-sm m-auto border border-blue-600 rounded-lg w-full pl-1 shadow-sm shadow-blue-300" type="text" id="siret" name="siret" placeholder="Code SIRET à 14 chiffres">
			</div>
			<div class="flex flex-col">
				<label class="m-auto" for="ceo">Nom du directeur (facultatif) :
				</label>
				<input class="text-sm m-auto border border-blue-600 rounded-lg w-full pl-1 shadow-sm shadow-blue-300" type="text" id="ceo" name="ceo" placeholder="ex: DURAND Pierre">
			</div>
			<div class="flex flex-col">
				<label class="m-auto" for="password">Mot de passe :
				</label>
				<input class="text-sm m-auto border border-blue-600 rounded-lg w-full pl-1 shadow-sm shadow-blue-300" type="password" id="password" name="password" placeholder="12+ majuscule(s), minuscule(s) et chiffre(s)">
			</div>
			<div class="flex flex-col">
				<label class="m-auto" for="confirmPassword">Confirmez votre mot de passe :
				</label>
				<input class="text-sm m-auto border border-blue-600 rounded-lg w-full pl-1 shadow-sm shadow-blue-300" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmez le mot de passe">
			</div>
			<button class="m-auto mt-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">S'inscrire</button>
		</form>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}

		<p class="pt-5 text-center">Déjà inscrit ? Cliquez
			<a class="font-bold text-blue-500 underline" href="/login">ici</a>
			pour vous connecter.</p>
	</main>
{% endblock %}
