{% extends "../layouts/company.twig" %}

{% block main %}
	<main>
		<a class="" href="/login">Je suis directeur d'établissement.</a>
		{# <a href="/employee/login">Je suis employé d'établissement.</a> #}
	</main>
{% endblock %}
