{% extends "../layouts/company.twig" %}

{% block main %}
	<main class="p-10">
		<a class="w-full flex justify-center" href="/login">Je suis directeur d'établissement.</a>
		{# <a href="/employee/login">Je suis employé d'établissement.</a> #}
	</main>
{% endblock %}
